<%= render 'pages/home' unless user_signed_in? %>
<% if @memorables.blank? %>
<div class="center">
  No Memorabilia has been created yet. <%= link_to 'Create New', new_memory_memorable_path(@memory) %> 
</div>              
<%end%>
<div id="memorables" class="transitions-enabled">
  <% @memorables.each do |memorable| %>
    <span class="name"><strong><%= memorable.title if memorable.title%></strong></span><br/><br/>
    <% memorable.images.each do |image| %>
    <div class="box panel-body">
      <div class="form-group">	
       <%= link_to cl_image_tag(image.path, :width => 400, :height => 400, :crop => :limit) %>
      </div>
      <div class="form-group">
        Tags:
      </div>
     </div>
     <%end%>
     <div style="clear:both"></div>
      <div class="panel-body" padding: 5px>
        <span class="desc-font"><%= memorable.description %></span><br>
        <% if memorable.memory.user == current_user %>
            <div class="actions">
                <%= link_to edit_memory_memorable_path(memorable.memory.id,memorable) do %>
                <i class="fa fa-edit"></i>  Edit     
                <% end %>
                
                <%= link_to memory_memorable_path(memorable.memory.id,memorable), method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fa fa-trash"></i>  Delete
                <% end %>
              
              
            </div>
            
          <% end %>
      </div>
      <div class="panel-footer">
        Tags:  <%= raw memorable.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>

      </div>
  <% end %>
</div>

