<%= render 'pages/home' unless user_signed_in? %>



<div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
    <div class="box panel panel-default">
     <%= link_to cl_image_tag(pin.image.path, :width => 400, :height => 400, :crop => :limit), pin %>
     
      <div class="panel-body" padding: 5px>
        <span class="desc-font"><%= pin.description %></span><br>
        <span class="name">- <%= pin.user.fname if pin.user%></span>
          <% if pin.user == current_user %>
            <div class="actions">
               
                <%= link_to edit_pin_path(pin) do %>
                <i class="fa fa-edit"></i>  Edit     
                <% end %>
                
                <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fa fa-trash"></i>  Delete
                <% end %>
              
              
            </div>
          <% end %>
      </div>
      <div class="panel-footer">
        Tags:  <%= raw pin.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>

      </div>
    </div> 
  <% end %>
</div>
<div class="center">
<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>