<%= form_for @memory, html: { multipart: true } do |f| %>
  <% if @memory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@memory.errors.count, "error") %> prohibited this memory from being saved:</h2>

      <ul>
      <% @memory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, 'Name'%><br>
    <%= f.text_field :title,:placeholder => "Name your memory" %>
  </div>
  <div class="form-group">
    <%= f.label :description, 'Description'%><br>
    <%= f.text_field :description,:placeholder => "Describe your memory" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-success btn-sm" %>
  </div>
<% end %>
