<%= render 'pages/home' unless user_signed_in? %>

<div id="memories" class="transitions-enabled">
  <% @memories.each do |memory| %>
    <div class="box panel panel-default">
    <span class="name"><strong><%= memory.title if memory.title%></strong></span><br/><br/>	
     
      <div class="panel-body" padding: 5px>
        <span class="desc-font"><%= memory.description %></span><br>
        <% if memory.user == current_user %>
            <div class="actions">
               
                <%= link_to edit_memory_path(memory) do %>
                <i class="fa fa-edit"></i>  Edit     
                <% end %>
                
                <%= link_to memory, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fa fa-trash"></i>  Delete
                <% end %>
              
              
            </div>
          <% end %>
      </div>
      
    </div> 
  <% end %>
</div>
<div class="center">
<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>
